.currencies {
  display: block;
  background-color: #fff;
  width: 270px;
  margin: 1em auto;
  text-align: center;
  padding: 10px;
  height: 420px;
  &__title {
    color: #bb5432;
    text-align: left;
    margin: 5px;
    font-weight: bold;
    font-size: 20px;
  }
  &__liste {
    // padding: 5px;
    height: 350px;
    overflow-y: scroll;
  }
  &__item {
    line-break: auto;
    padding: 10px;
    color: #bb5432;
    text-align: left;
    border-bottom: 1px solid #bb5432;
    cursor: pointer;
    font-family: 'Spartan', sans-serif;
    transition: background 1;
  }
  &__item:hover {
    background-color: #f1c5b6; 
    transition: background .2;
  }
  &__search {
    width: 250px;
    border: none;
    font-weight: 700;
    padding: 10px;
    padding-top: 10px;
    color: #bb5432;
    font-size: 1.2em;
    &::placeholder {
      color: #f1c5b6;
    }
  }
}
