.header {
  background-color: #bb5432;
  color: white;
  width: 300px;
  margin: 1em auto;
  text-align: center;
  padding: 20px;
  font-family: 'Spartan', sans-serif;
  font-size: 28px;
&__para {
    padding: 10px;
    font-size: 16px;
    font-weight: lighter;
  }
  &__input {
    width: 20%;
    border: none;
    font-weight: 700;
    padding: 1px;
    margin: 5px;
    padding-top: 5px;
    background-color: #f1c5b6;
    color: #bb5432;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;

    &::-webkit-inner-spin-button {
       -webkit-appearance: none;
}
    &::placeholder {
      color: #f1c5b6;
    }
  }
}
