.display {
  width: 300px;
  margin: 1em auto;
  text-align: center;
  padding: 20px;
  background-color: white;
  &__h1 {
    font-family: 'Spartan', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #bb5432;
  }&__h3 {
    font-family: 'Spartan', sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    color: #bb5432;
  }
}
